body { background: #41ab90; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 25px; display: flex; }
.block-filter-0 { color: #a1b5e5; font-size: 19px; margin-bottom: 5px; }
.block-notify-1 { color: #dc2152; font-size: 15px; margin-bottom: 5px; }
.block-logger-2 { color: #45049e; font-size: 17px; margin-bottom: 5px; }
.block-search-3 { color: #7bdd2; font-size: 12px; margin-bottom: 5px; }
.block-helper-4 { color: #fd73fb; font-size: 13px; margin-bottom: 5px; }